# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Flutter/Dart
.dart_tool/
.packages
build/
.pub-cache/
.pub/
frontend/build/
frontend/ios/Pods/
frontend/.dart_tool/
