repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.11
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: bash -c 'cd backend && mypy app'
        language: system
        types: [python]
        pass_filenames: false
        files: ^backend/

      - id: flutter-format
        name: Flutter Format
        entry: bash -c 'cd frontend && dart format .'
        language: system
        types: [dart]
        pass_filenames: false
        files: ^frontend/

      - id: flutter-analyze
        name: Flutter Analyze
        entry: bash -c 'cd frontend && flutter analyze .'
        language: system
        types: [dart]
        pass_filenames: false
        files: ^frontend/
