
services:
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
      - ./media:/app/media

  frontend:
    build:
      context: ./frontend
      args:
        - API_URL=${API_URL}
    ports:
      - "3000:80"
    depends_on:
      - backend
